<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Func</title>
</head>
<body>
    {{/* {{index .Words 2}}
    {{index .Words 1}}
    {{index .Words 0}}

    {{.Fname}} */}}

    {{/* AND global function */}}
    {{/* EXAMPLE #1
    {{range .}}
        {{.}}
    {{end}}

    EXAMPLE #2
    {{if .}}
        EXAMPLE #2 - {{.}}
    {{end}}

    EXAMPLE #3
    {{range .}}
        {{if .Name}}
            EXAMPLE #3 - {{.Name}}
        {{end}}
    {{end}}

    EXAMPLE #4
    {{range .}}
        {{if and .Name .Admin}}
            EXAMPLE #4 - Name: {{.Name}}
            EXAMPLE #4 - Admin: {{.Admin}}
        {{end}}
    {{end}} */}}

    {{/* Comparison predefined global function */}}
    {{if gt .Score1 .Score2}}
        SCORE1 > Score2
    {{end}}

    {{if lt .Score1 .Score2}}
        SCORE1 < SCORE2
    {{end}}

    {{if eq .Score1 .Score2}}
        SCORE1 == SCORE2
    {{end}}

    {{if lt .Score1 10}}
        LAST ONE: SCORE 1 < 10
    {{end}}
</body>
</html>