<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Func</title>
</head>
<body>
    {{index .Words 2}}
    {{index .Words 1}}
    {{index .Words 0}}

    {{.Fname}}
</body>
</html>