<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Func</title>
</head>
<body>

    Data -> {{.}}

    Double -> {{. | fdbl}}

    Data|Double|Square -> {{. | fdbl | fsq}}

    Data|Double|Square|Squareroot -> {{. | fdbl | fsq | fsqrt}}
</body>
</html>